body {
    display: flex;
    justify-content: center;
    background-image: url("../images/background-gallery.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: grayscale(30%) blur(10px);;
    padding: 20px;
    margin: 0px;
}

#gallery-container {
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-image: url("../images/background-gallery.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 85%;
    margin: auto;
    padding: 25px 0px 25px 0px;
}

.gallery-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22%;
}

.gallery-image {
    /* plan to use in future */
}

.gallery-image img {
    border-radius: 8px;
    max-width: 100%;
}